<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.Core" publicKeyToken="f829da5c02be14ee" culture="neutral"/>
				<bindingRedirect oldVersion="2.0.0.1" newVersion="2.0.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpDevelop" publicKeyToken="f829da5c02be14ee" culture="neutral"/>
				<bindingRedirect oldVersion="2.0.0.1" newVersion="2.0.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.TextEditor" publicKeyToken="4d61825e8dd49f1a" culture="neutral"/>
				<bindingRedirect oldVersion="2.0.0.1" newVersion="2.0.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.NRefactory" publicKeyToken="efe927acf176eea2" culture="neutral"/>
				<bindingRedirect oldVersion="2.0.0.1" newVersion="2.0.0.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
