<#@ template language="C#" HostSpecific="true" #>
<#
	MvcTextTemplateHost mvcHost = (MvcTextTemplateHost)Host;
#>
<# if (mvcHost.IsPartialView) { #>
<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>

<# } else { #>
<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>

<!DOCTYPE html>
<html>
	<head runat="server">
		<title><#= mvcHost.ViewName #></title>
	</head>
	<body>
		<div>
		
		</div>
	</body>
</html>
<# } #>