<#@ template language="C#" HostSpecific="true" #>
<#@ output extension=".cshtml" #>
<#
	MvcTextTemplateHost mvcHost = (MvcTextTemplateHost)Host;
#>

<!DOCTYPE html>
<html>
	<head>
		<title><#= mvcHost.ViewName #></title>
	</head>
	<body>
		<div>
		
		</div>
	</body>
</html>
