<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Languages" type="Chiron.LanguageSection, Chiron"/>
    <section name="AppManifest.xaml" type="Chiron.AppManifestSection, Chiron"/>
    <section name="MimeTypes" type="Chiron.MimeTypeSection, Chiron"/>
  </configSections>

  <appSettings>
    <!-- 
    "useExtensions" tells Chiron to load the DLR via Silverlight's transparent
    platform extensions, rather than just putting the assemblies in the XAP
    -->
    <add key="useExtensions" value="false" />
    
    <!-- 
    "localAssemblyPath" is the location of language assemblies on disk
    -->
    <add key="localAssemblyPath" value="." />

    <!--
    "detectLanguages" toggles whether Chiron should detect the languages,
    or that is to be determined at runtime. Default is "true"
    -->
    <add key="detectLanguages" value="true" />
    
    <!--
    "urlPrefix" sets the base URL to serve language binaries from
    
    For a rooted path but a relative domain name:
    <add key="urlPrefix" value="/path/to/language/assemblies" />
    
    For an absolute URL on a domain:
    <add key="urlPrefix" value="http://example.com/assemblies/" />
    -->
    <add key="urlPrefix" value="/dlr-build" />
    
  </appSettings>

  <!--
  Information about DLR-based languages.
  Chiron uses the source file's extension to determine which language
  should be included. Multiple languages are allowed in a project,
  and new DLR-based languages can be added to the list (see example entry below).
  -->
  <Languages>

    <!-- IronPython and IronRuby are avaliable by default -->
    
    <Language names="IronPython;Python;py"
              extensions=".py"
              languageContext="IronPython.Runtime.PythonContext"
              assemblies="IronPython.dll, IronPython.Modules.dll"
              external="IronPython.slvx" />

    <Language names="IronRuby;Ruby;rb"
              extensions=".rb"
              languageContext="IronRuby.Runtime.RubyContext"
              assemblies="IronRuby.dll, IronRuby.Libraries.dll"
              external="IronRuby.slvx" />

    <!--
    More languages can be added here as needed.
    
    Each language node has the following attributes:
    - names: ;-separated list of names the language can use
    - extensions: ;-separated list of file extensions the language can use
    - type: class that inherits from LanguageContext
    - Only one of the following needs to be present:
      o assemblies: URIs to assemblies which make up the language.
      o external: SLVX file for all language assemblies. This URI is used by
        Microsoft.Scripting.slvx to download the language when it needs it. If
        it is a relative URI then Chiron will serve it from the 
        "urlPrefix" URI (see the appSettings section)
    -->

  </Languages>


  <!--
  This is the template AppManifest.xaml file
  It will be included if an AppManifest.xaml file is not already present.
    
  These transformations are made:
  If useExtensions is false:
    1. language assemblies are added at the end of Deployment.Parts
    2. the urlPrefix will be added to relative assembly paths
  If useExtensions is true:
    1. language extensions are added at the end of Deployment.ExternalParts
    
  Note that "ExternalCallersFromCrossDomain" is set to "ScriptableOnly" so
  having the XAP file cross-domain can access the caller's DOM:
  http://msdn.microsoft.com/en-us/library/cc645023%28VS.95%29.aspx
  -->
  <AppManifest.xaml>
    <Deployment 
      xmlns="http://schemas.microsoft.com/client/2007/deployment" 
      xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml" 
      RuntimeVersion="2.0.31005.0"
      EntryPointAssembly="Microsoft.Scripting.Silverlight" 
      EntryPointType="Microsoft.Scripting.Silverlight.DynamicApplication"
      ExternalCallersFromCrossDomain="ScriptableOnly"
      >
      
      <!-- Add assembly references here -->
      <Deployment.Parts>
        <!-- In the XAP -->
        <!-- <AssemblyPart Source="Foo.dll" /> -->

        <!-- Outside the XAP, same domain -->
        <!-- <AssemblyPart Source="/Foo.dll" /> -->

        <!-- Outside the XAP, different domain -->
        <!-- <AssemblyPart Source="http://bar.com/Foo.dll" /> -->
      </Deployment.Parts>

      <!-- Add transparent platform extensions (.slvx) references here -->
      <Deployment.ExternalParts>
        <!-- Example -->
        <!-- <ExtensionPart Source="http://bar.com/v1/Foo.slvx" /> -->
      </Deployment.ExternalParts>

      <!--
        To enable out-of-browser applications, uncomment the following
        and tweak the settings accordingly:
      -->
      <!--
      <Deployment.OutOfBrowserSettings>
        <OutOfBrowserSettings
              ShortName="DLR Application"
              EnableGPUAcceleration="True"
              ShowInstallMenuItem="True">
          <OutOfBrowserSettings.Blurb>
            DLR Application
          </OutOfBrowserSettings.Blurb>
          <OutOfBrowserSettings.Icons />
          <OutOfBrowserSettings.WindowSettings>
            <WindowSettings
                Title="DLR Application"
                Height="480" Width="640" />
          </OutOfBrowserSettings.WindowSettings>
        </OutOfBrowserSettings>
      </Deployment.OutOfBrowserSettings>
      -->
    </Deployment>
  </AppManifest.xaml>

  <!--
  file extensions & MIME types recognized by Chiron.
  It will return 403 for unrecognized file types
  -->
  <MimeTypes>
    <mimeMap fileExtension=".htm"  mimeType="text/html" />
    <mimeMap fileExtension=".html" mimeType="text/html" />
    <mimeMap fileExtension=".css"  mimeType="text/css" />
    <mimeMap fileExtension=".txt"  mimeType="text/plain" />
    <mimeMap fileExtension=".xml"  mimeType="text/xml" />
    <mimeMap fileExtension=".rss"  mimeType="text/xml" />
    <mimeMap fileExtension=".gif"  mimeType="image/gif" />
    <mimeMap fileExtension=".jpg"  mimeType="image/jpeg" />
    <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
    <mimeMap fileExtension=".png"  mimeType="image/png" />
    <mimeMap fileExtension=".ico"  mimeType="image/x-icon" />
    <mimeMap fileExtension=".rb"   mimeType="application/ruby" />
    <mimeMap fileExtension=".py"   mimeType="application/python" />
    <mimeMap fileExtension=".js"   mimeType="application/x-javascript" />
    <mimeMap fileExtension=".erb"  mimeType="application/erb+ruby" />
    <mimeMap fileExtension=".xaml" mimeType="application/xaml+xml" />
    <mimeMap fileExtension=".xap"  mimeType="application/x-zip-compressed" />
    <mimeMap fileExtension=".slvx" mimeType="application/x-zip-compressed" />
    <mimeMap fileExtension=".zip"  mimeType="application/x-zip-compressed" />
    <mimeMap fileExtension=".dll"  mimeType="application/x-msdownload" />
    <mimeMap fileExtension=".pdb"  mimeType="application/x-msdownload" />
    <mimeMap fileExtension=".asf"  mimeType="video/x-ms-asf" />
    <mimeMap fileExtension=".asx"  mimeType="video/x-ms-asf" />
    <mimeMap fileExtension=".wma"  mimeType="audio/x-ms-wma" />
    <mimeMap fileExtension=".wmv"  mimeType="audio/x-ms-wmv" />
  </MimeTypes>
  
</configuration>
