<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Enable mixed-mode CLRv2 assemblies. -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

  <runtime>
    <!-- Enable loading assemblies from network shares or downloaded from the internet. -->
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
