
/REVISION
/bin/
/build/
/doc/ChangeLog.html
/src/AddIns/Analysis/Profiler/Controller/Data/UnmanagedCallTreeNode64.cs
/src/AddIns/Analysis/Profiler/Controller/Profiler64.cs
/src/AddIns/Analysis/Profiler/Controller/structs64.cs
/src/AddIns/Analysis/Profiler/Hook/Callback.x64.obj
/src/AddIns/Analysis/Profiler/bin/
obj/
/src/Tools/UpdateAssemblyInfo/bin
/src/AddIns/Misc/Profiler/X64Converter/bin
/src/AddIns/Misc/Profiler/Hook/x64
/src/AddIns/Misc/Profiler/Hook/Win32
/src/Setup/SharpDevelop.Setup.wixproj.user
/src/Main/ICSharpCode.SharpDevelop.Sda/ICSharpCode.SharpDevelop.Sda.dll.config
/src/Main/StartUp/Project/SharpDevelop.exe.config