# ignore all obj and bin folders (even in subdirectories)
obj/
bin/
/REVISION
/build/
/AddIns/
/doc/ChangeLog.html
/data/resources/StringResources.*.resources
/src/AddIns/Analysis/Profiler/Controller/Data/UnmanagedCallTreeNode64.cs
/src/AddIns/Analysis/Profiler/Controller/Profiler64.cs
/src/AddIns/Analysis/Profiler/Controller/structs64.cs
/src/AddIns/Analysis/Profiler/Hook/Callback.x64.obj
/src/AddIns/Analysis/Profiler/Hook/x64
/src/AddIns/Analysis/Profiler/Hook/Win32
/src/Tools/UpdateAssemblyInfo/bin
/src/Setup/SharpDevelop.Setup.wixproj.user
/src/Main/ICSharpCode.SharpDevelop.Sda/ICSharpCode.SharpDevelop.Sda.dll.config
/src/Main/SharpDevelop/app.config
/src/Main/GlobalAssemblyInfo.cs
/src/Main/GlobalAssemblyInfo.vb
/src/AddIns/Misc/UsageDataCollector/UsageDataCollector.AddIn/AnalyticsMonitor.AppProperties.cs

/src/AddIns/Misc/PackageManagement/Packages/AvalonEdit/lib
/packages/
/src/Tools/ResGet/*.log


*.ide/
*.sdsettings
*.DotSettings.user
*.suo
.DS_Store