<configuration>
	<appSettings>
		<!-- The directory containing the resources relative to the 
		 ComponentInspector executable -->
		<add key="ResourceDirectory" value="..\..\..\data\resources" />
	</appSettings>
	
	<system.diagnostics>
		<trace autoflush="true" indentsize="2">
			<listeners>
			<!-- Uncomment this to enable tracing to a log file
			<add name="oakland software" 
				type="System.Diagnostics.TextWriterTraceListener" 
				initializeData="CompInsp.log" /> -->
			</listeners>
		</trace>
		
		<switches>
			<!-- here is where you set the trace level -->
			<add name="oakland software" value="1" />
		</switches>
	</system.diagnostics>
	<system.windows.forms jitDebugging="true" />
</configuration>



