<#@ template language="VB" HostSpecific="true" #>
<#@ output extension=".vbhtml" #>
<#
	Dim mvcHost As MvcTextTemplateHost = DirectCast(Host, MvcTextTemplateHost)
#>
<# If mvcHost.IsPartialView Then #>

<# Else #>

<!DOCTYPE html>
<html>
	<head>
		<title><#= mvcHost.ViewName #></title>
	</head>
	<body>
		<div>
		
		</div>
	</body>
</html>
<# End If #>