<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Fragment>
		<UI>
			<RadioButtonGroup Property="AcceptLicense">
				<RadioButton Text="I &amp;accept the terms in the License Agreement" X="5" Y="0" Width="300" Height="15" Value="Yes"/>
				<RadioButton Text="I &amp;do not accept the terms in the License Agreement" X="5" Y="20" Width="300" Height="15"  Value="No"/>
			</RadioButtonGroup>

			<Dialog Id="ViewLicenseAgreement" Width="370" Height="270" Title="[ProductName]">
				<Control Id="Buttons" Type="RadioButtonGroup" X="20" Y="187" Width="330" Height="40" Property="AcceptLicense" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="[Button_Back]">
					<Publish Event="NewDialog" Value="WelcomeDialog">1</Publish>
				</Control>		
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="[Button_Next]">
					<Publish Event="NewDialog" Value="SelectFolderDialog">AcceptLicense = "Yes"</Publish>
					<Condition Action="disable">AcceptLicense &lt;&gt; "Yes"</Condition>
					<Condition Action="enable">AcceptLicense = "Yes"</Condition>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="[Button_Cancel]">
					<Publish Event="SpawnDialog" Value="CancelDialog">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" FixedSize="yes" TabSkip="no" Text="banner.bmp" />
				<Control Id="AgreementText" Type="ScrollableText" X="20" Y="60" Width="330" Height="120" Sunken="yes" TabSkip="no">
					<Text SourceFile="$(sys.SOURCEFILEDIR)/license.rtf"/>
				</Control>	
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="BottomLine" Type="Line" X="4" Y="234" Width="370" Height="0" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Please read the following license agreement carefully!</Text>
				</Control>
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>[TitleFont]End-User License Agreement</Text>
				</Control>
			</Dialog>
		</UI>
	</Fragment>
</Wix>

