/////////////////////////////////////////////////////////////////////////////
//
// HTML RESOURCES
//

#define	RT_HTML	23

context		RT_HTML		"context.html"
open		RT_HTML		"OpenBook.png"
close		RT_HTML		"ClosedBook.png"