<#@ template language="VB" HostSpecific="true" #>
<#@ output extension=".aspx" #>
<#
	Dim mvcHost As MvcTextTemplateHost = DirectCast(Host, MvcTextTemplateHost)
#>
<%@ Page Language="VB" Inherits="System.Web.Mvc.ViewPage" %>

<!DOCTYPE html>
<html>
	<head runat="server">
		<title><#= mvcHost.ViewName #></title>
	</head>
	<body>
		<div id="page">
		
		</div>
	</body>
</html>
