<!--
	Installer for SharpDevelop.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--
		Windows Installer only recognises 3 digits for the product version (Major.Minor.Build) 
		so the third digit must be the revision number. 
	-->

	<!-- PRODUCTMAJORVERSION is major.minor (e.g. 4.1), retrieved from GlobalAssemblyInfo.template -->
	<!-- PRODUCTBUILDVERSION is the revision number (e.g. 6963), calculated from git -->
	<!-- PRODUCTDISPLAYVERSION is a string like "4.1 Beta 1" (version name retrieved from GlobalAssemblyInfo.template) -->
	
	<Product Id="*" 
		Name="SharpDevelop $(var.PRODUCTDISPLAYVERSION)"
		Manufacturer="ic#code"
		Language="1033"
		Codepage="1252"
		UpgradeCode="F094DA91-D43E-4451-A1CB-645FE9C7A843"
		Version="$(var.PRODUCTMAJORVERSION).$(var.PRODUCTBUILDVERSION)">
		
		<!-- When a new major SharpDevelop version should be allowed to be installed in parallel to old versions,
			 we need a new upgrade code (2 occurrences!), and the "Minimum Version" for upgrades needs to be adjusted.
		-->

		<Package Description="SharpDevelop $(var.PRODUCTDISPLAYVERSION)"
			InstallerVersion="300"
			Compressed="yes"/>
		
		<!-- Upgrade information -->
		<Upgrade Id="F094DA91-D43E-4451-A1CB-645FE9C7A843">
			<!-- The UpgradeCode must be changed to allow two versions of SharpDevelop to be installed side-by-side -->
			
			<!-- Checks for older versions -->
			<UpgradeVersion Minimum="5.0.0"
				IncludeMinimum="yes"
				Maximum="$(var.PRODUCTMAJORVERSION).$(var.PRODUCTBUILDVERSION)"
				IncludeMaximum="no" 
				Property="PREVIOUSVERSIONFOUND"/>
			<!-- Checks for newer versions -->
			<UpgradeVersion OnlyDetect="yes"
				Property="NEWERVERSIONFOUND"
				Minimum="$(var.PRODUCTMAJORVERSION).$(var.PRODUCTBUILDVERSION)"
				IncludeMinimum="no"/>
		</Upgrade>
		
		<!--
			Conditions to be satisfied before the installer begins.
			Note that we are using "Installed OR" in the conditions so
			so they never block the user from repairing, patching, or 
			uninstalling the package after it has been installed. 

			For example the user could do something odd like uninstall .NET 
 			and then run the msi to uninstall SharpDevelop. Without the 
			"Installed OR" this would not be allowed.
		-->
		
		<!-- SharpDevelop 5 doesn't support Win XP and below. -->
		<Condition Message="SharpDevelop $(var.PRODUCTDISPLAYVERSION) can only be installed on Windows Vista and higher.">
			Installed OR (VersionNT >= 600)
		</Condition>
		
		<!--
			Check for .NET 4.5 RTM
		-->
		<!-- we could check NETFRAMEWORK45 optionally if we want to force the user to install a specific version -->
		<Property Id="NETFRAMEWORK45" Secure="yes">
			<RegistrySearch Id="NetFramework45" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full" Name="Release" Type="raw" />
		</Property>
		<Condition Message="This setup requires the .NET Framework 4.5 to be installed.">
			Installed OR NETFRAMEWORK45
		</Condition>
		
		<!--
			Check for C++ 2008 Runtime (we accept any 2008 runtime version).
			We only need the VC9 CRT, but unfortunately I couldn't find any way to detect if that is installed.
			So instead, we conservatively check that the whole C++ runtime is installed.
			However, we know that .NET 3.5 installs the C++ runtime parts we need (.NET 4.0 doesn't), so we'll check for
			VCPP2008RUNTIME OR NETFRAMEWORK35.
 		-->
		<Property Id="VCPP2008RUNTIME" Secure="yes">
			<RegistrySearch Id="VCpp2008Runtime" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VC\Servicing\9.0" Name="SP" Type="raw" />
		</Property>
		<PropertyRef Id="NETFRAMEWORK35"/>
		<Condition Message="This setup requires the Microsoft Visual C++ 2008 SP1 Redistributable Package to be installed.">
			Installed OR (VCPP2008RUNTIME &lt;&gt; "") OR NETFRAMEWORK35
		</Condition>
		
		<!--
			Check the user has elevated permissions. We need admin rights to NGen 
			SharpDevelop.exe and to register the Help collection. 

			The old Setup.exe displays a RunAs dialog only because when it is named 
			"Setup.exe". So do we display an error message or let the installation
			fail? The failure message is obscure so a message is before launching
			is probably better.
		-->
		<!-- Not used since the install will work without admin rights.
		<Condition Message="Administrator rights are required to install SharpDevelop.">
			Privileged
		</Condition> -->
		
		<!--
			Install for all users.

			Using ALLUSERS=2 means SharpDevelop can be installed by a non-admin. 
			In this case it will be a per-user installation installed into the 
			user's personal profile. 

			(The installer will be adding assemblies to the GAC and using NGen 
			on SharpDevelop.exe if and only if the user has admin rights)

			http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/allusers.asp
		-->
		<Property Id="ALLUSERS">2</Property>
		
		<!--
			Support entries shown when clicking "Click here for support information"
			in Control Panel's Add/Remove Programs

			http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/configuration_properties.asp
		-->
		<Property Id="ARPCONTACT">http://icsharpcode.net/OpenSource/SD/ContactUs.asp</Property>
		<Property Id="ARPHELPLINK">http://community.sharpdevelop.net/forums/</Property>
		<Property Id="ARPURLINFOABOUT">http://icsharpcode.net/OpenSource/SD/</Property>
		<Property Id="ARPURLUPDATEINFO">http://icsharpcode.net/OpenSource/SD/Download/</Property>
		
		<!-- Suppress the Modify button in the Control Panel's Add/Remove Programs -->
		<!--
			Temporarily disabled whilst using the WixUI library 
			<Property Id="ARPNOMODIFY">1</Property> 
		-->
		
		<!-- Puts SharpDevelop icon in Control Panel's Add/Remove Programs -->
		<Property Id="ARPPRODUCTICON">SharpDevelopIcon.exe</Property>
		<Icon Id="SharpDevelopIcon.exe" SourceFile="..\Main\SharpDevelop\Resources\SharpDevelop.ico"/>
		
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir"/>
		
		<!--
			Currently just one core feature to install everything. 
			Source code will become a separate feature. Perhaps all the add-ins too could
			each be a feature if the user wants to heavily customise the installation.
		-->
		<Feature Id="Complete"
		         Title="SharpDevelop $(var.PRODUCTMAJORVERSION)"
		         Description="Installs SharpDevelop and registers file associations"
		         Level="1"
		         ConfigurableDirectory="INSTALLDIR"
		         Absent="disallow"
		         AllowAdvertise="no"
		         InstallDefault="local"
		         Display="expand">
				<!-- 
					We put a reference to a dummy component which contains no files
					so we can get rid of the Network install options from the drop
					down menu for this feature. Seems to be a bug in Windows Installer.
				-->
				<ComponentRef Id="DummyCompleteFeatureComponent"/>
			<!--
				The SharpDevelop application. This may at some point in the distant
				future be further subdivided into addin features, but doing this
				will mean a new ProductCode will need to be generated.
			-->
			<Feature Id="SharpDevelop"
			         Title="SharpDevelop"
			         Description="Installs SharpDevelop"
			         Level="1"
			         InstallDefault="local"
			         AllowAdvertise="no"
			         Absent="disallow">
				<ComponentRef Id="SharpDevelopExe"/>
				<ComponentRef Id="SharpDevelopExeFiles"/>
				<ComponentRef Id="SharpDevelopDocFiles"/>
				<ComponentRef Id="DependenciesHtml"/>
				<ComponentRef Id="ICSharpCodeBuildTasksDll"/>
				<ComponentRef Id="BuildTasksTargetFiles"/>
				<ComponentRef Id="ICSharpCodeCoreDll"/>
				<ComponentRef Id="ICSharpCodeCoreWinFormsDll"/>
				<ComponentRef Id="ICSharpCodeNRefactoryDll"/>
				<ComponentRef Id="ICSharpCodeNRefactoryCSharpDll"/>
				<ComponentRef Id="ICSharpCodeNRefactoryXmlDll"/>
				<ComponentRef Id="ICSharpCodeNRefactoryCecilDll"/>
				<ComponentRef Id="ICSharpCodeNRefactoryCSharpRefactoringDll"/>
				<ComponentRef Id="ICSharpCodeSharpDevelopDll"/>
				<ComponentRef Id="ICSharpCodeSharpDevelopWidgets"/>
				<ComponentRef Id="ICSharpCodeAvalonEditDll"/>
				<ComponentRef Id="ICSharpCodeTreeViewDll"/>
				<ComponentRef Id="ICSharpCodeSharpDevelopBuildWorker35Exe"/>
				<ComponentRef Id="ICSharpCodeSharpDevelopBuildWorker40Exe"/>
				<ComponentRef Id="ICSharpCodeSharpDevelopBuildWorker120Exe"/>
				<ComponentRef Id="ICSharpCodeSharpDevelopBuildWorker140Exe"/>
				<ComponentRef Id="log4netDll"/>
				<ComponentRef Id="GraphSharpDll"/>
				<ComponentRef Id="GraphSharpControlsDll"/>
				<ComponentRef Id="QuickGraphDll"/>
				<ComponentRef Id="GraphSharpContractsDll"/>
				<ComponentRef Id="MicrosoftContractsDll"/>
				<ComponentRef Id="WPFExtensionsDll"/>
				<ComponentRef Id="MonoCecilDll"/>
				<ComponentRef Id="AvalonDockDll"/>
				<ComponentRef Id="ICSharpCodeCorePresentationDll"/>
				<ComponentRef Id="SharpDevelopProgramMenuItems"/>
				<ComponentRef Id="DesktopFolderItems"/>
				
				<ComponentRef Id="WixDIfxAppSchema"/>
				<ComponentRef Id="WixIisSchema"/>
				<ComponentRef Id="WixMSMQSchema"/>
				<ComponentRef Id="WixNetFxSchema"/>
				<ComponentRef Id="WixPSSchema"/>
				<ComponentRef Id="WixSqlSchema"/>
				<ComponentRef Id="WixUtilSchema"/>
				<ComponentRef Id="WixVSSchema"/>
				<ComponentRef Id="WixFirewallSchema"/>
				<ComponentRef Id="WixGamingSchema"/>
				<ComponentRef Id="EmptyWixFileTemplate"/>
				<ComponentRef Id="WixDefaultLicenseRtf"/>
				<ComponentRef Id="EmptyWixProjectTemplate"/>
				<ComponentRef Id="EmptyWixDialogTemplate"/>
				<ComponentRef Id="WixDialogTemplate"/>

				<ComponentRef Id="NUnitUtilDll"/>
				<ComponentRef Id="NUnitConsoleFiles"/>
				<ComponentRef Id="NUnitConsoleX86Files"/>
				<ComponentRef Id="NUnitConsoleDotnet2Files"/>
				<ComponentRef Id="NUnitConsoleDotnet2X86Files"/>
			 	<ComponentRef Id="NUnitCoreDll"/>
				<ComponentRef Id="NUnitFrameworkDll"/>
				<ComponentRef Id="NUnitConsoleRunnerDll"/>
				<ComponentRef Id="NUnitCoreInterfacesDll"/>
				<ComponentRef Id="ConversionStyleSheetFiles"/>
				<ComponentRef Id="TextLibOptionsFiles"/>
				<ComponentRef Id="OptionsFiles"/>
				<ComponentRef Id="InstallerBitmapFiles"/>
				<ComponentRef Id="LanguageBitmapFiles"/>
				<ComponentRef Id="LayoutFiles"/>
				<ComponentRef Id="StringResourceFiles"/>
				<ComponentRef Id="SchemaFiles"/>
				<ComponentRef Id="CSharpFileTemplates"/>
				<ComponentRef Id="CSharpRecentFilesCollectionTemplate"/>				
				<ComponentRef Id="CSharpRecentFilesCollectionTemplateRecentFileElementClass"/>				
				<ComponentRef Id="CSharpRecentFilesCollectionTemplateRecentFilesCollectionClass"/>
				<ComponentRef Id="EmptyCSharpMvc3WebProjectTemplate"/>
				<ComponentRef Id="CSharpMvc3WebProjectTemplate"/>
				<ComponentRef Id="EmptyCSharpMvc4WebProjectTemplate"/>
				<ComponentRef Id="CSharpMvc4WebProjectTemplate"/>
				<ComponentRef Id="VBFileTemplates"/>
				<ComponentRef Id="EmptyVBMvc3WebProjectTemplate"/>
				<ComponentRef Id="VBMvc3WebProjectTemplate"/>
				<ComponentRef Id="EmptyVBMvc4WebProjectTemplate"/>
				<ComponentRef Id="VBMvc4WebProjectTemplate"/>
				<ComponentRef Id="CSharpMvcControllerFileTemplate"/>
				<ComponentRef Id="CSharpMvcViewPageFileTemplate"/>
				<ComponentRef Id="CSharpMvcViewContentPageFileTemplate"/>
				<ComponentRef Id="CSharpMvcViewMasterPageFileTemplate"/>
				<ComponentRef Id="CSharpMvcViewUserControlFileTemplate"/>
				<ComponentRef Id="VBMvcControllerFileTemplate"/>
				<ComponentRef Id="VBMvcViewPageFileTemplate"/>
				<ComponentRef Id="VBMvcViewContentPageFileTemplate"/>
				<ComponentRef Id="VBMvcViewMasterPageFileTemplate"/>
				<ComponentRef Id="VBMvcViewUserControlFileTemplate"/>
				
				<ComponentRef Id="CSharpWcfServiceProjectTemplate"/>
				<ComponentRef Id="CSharpWcfServiceFileTemplate"/>
				<ComponentRef Id="VBWcfServiceProjectTemplate"/>
				<ComponentRef Id="VBWcfServiceFileTemplate"/>
				
				<ComponentRef Id="CSharpWcfRestServiceProjectTemplate"/>
				<ComponentRef Id="CSharpWcfRestServiceFileTemplate"/>
				<ComponentRef Id="VBWcfRestServiceProjectTemplate"/>
				<ComponentRef Id="VBWcfRestServiceFileTemplate"/>
				
				<ComponentRef Id="EmptyHTMLFileTemplate"/>
				<ComponentRef Id="EmptyStyleSheetFileTemplate"/>
				<ComponentRef Id="EmptyJavaScriptFileTemplate"/>
				<ComponentRef Id="EmptyMsBuildFileTemplate"/>
				<ComponentRef Id="EmptyResourceFileTemplate"/>
				<ComponentRef Id="EmptyTextFileTemplate"/>
				<ComponentRef Id="EmptyXMLFileTemplate"/>
				<ComponentRef Id="SharpDevelopFileTemplates"/>
				<ComponentRef Id="CSharpProjectTemplates"/>
				<ComponentRef Id="CSharpWebServiceProjectTemplate"/>
				<ComponentRef Id="CSharpNotifyIconProjectTemplate"/>
				<ComponentRef Id="CSharpStructTemplate"/>
				<ComponentRef Id="CSharpConfigurationFileTemplates"/>
				<ComponentRef Id="MiscProjectTemplates"/>
				<ComponentRef Id="VBProjectTemplates"/>
				<ComponentRef Id="ExampleProjectTemplate"/>
				<ComponentRef Id="ICSharpCode.SharpDevelop.addin"/>
				<ComponentRef Id="CSharpBindingFiles"/>
				<ComponentRef Id="VBBindingFiles"/>
				<ComponentRef Id="WixBindingFiles"/>
				<ComponentRef Id="WixUIMondoProjectTemplate"/>
				<ComponentRef Id="WixUIMinimalProjectTemplate"/>
				<ComponentRef Id="WixUIInstallDirProjectTemplate"/>
				<ComponentRef Id="WixUIFeatureTreeProjectTemplate"/>
				<ComponentRef Id="FormsDesignerFiles"/>
				<ComponentRef Id="IconEditorFiles"/>
				<ComponentRef Id="ResourceEditorFiles"/>
				<ComponentRef Id="SettingsEditorFiles"/>
				<!--<ComponentRef Id="ClassDiagramResources"/>
				<ComponentRef Id="ClassDiagramAddInFiles"/>
				<ComponentRef Id="ClassCanvasDll"/>
				<ComponentRef Id="DiagramsDll"/>-->
				
				<ComponentRef Id="ICSharpCodeXamlBindingDll"/>
				<ComponentRef Id="XamlBindingAddin"/>
				
				<!--<ComponentRef Id="WorkflowDesignerAddin"/>
				<ComponentRef Id="WorkflowDesignerDll"/>-->
				
				<ComponentRef Id="XmlEditorFiles"/>
				<ComponentRef Id="AddInManager2Addin"/>
				<ComponentRef Id="ICSharpCodeAddInManager2Dll"/>
				<ComponentRef Id="AddInManager2ICSharpCodeSharpZipLibDll"/>
				<ComponentRef Id="AddInManager2NuGetCoreDll"/>
				<ComponentRef Id="AddInManager2MSWebXmlTransformDll"/>
				<ComponentRef Id="AddInScoutFiles"/>
				<ComponentRef Id="CodeAnalysisFiles"/>
				<ComponentRef Id="CodeQualityFiles"/>
				<ComponentRef Id="CodeCoverageFiles"/>
				<ComponentRef Id="DebuggerAddInFiles"/>
				<ComponentRef Id="FiletypeIcons"/>
				<ComponentRef Id="FiletypeRegistererFiles"/>
				<ComponentRef Id="HtmlHelp2Files"/>
				<ComponentRef Id="RegExToolkitFiles"/>
				<!--<ComponentRef Id="ResourceToolkitFiles"/>-->
				<ComponentRef Id="SearchAndReplaceFiles"/>
				<ComponentRef Id="ILSpyAddInFiles"/>

				<ComponentRef Id="StartPageAddInFiles"/>
				<ComponentRef Id="SubversionAddInDll"/>
				<ComponentRef Id="GitAddInDll"/>
				<ComponentRef Id="UnitTestingAddInFiles"/>
				<ComponentRef Id="SyntaxModesFiles"/>
				<ComponentRef Id="SharpDevelopWebsiteShortcut"/>
				<ComponentRef Id="SharpDevelopAppPathRegistrySetting"/>
				<ComponentRef Id="WPFAssemblyInfoTemplate"/>
				<ComponentRef Id="AddInWritingHelp"/>
				<ComponentRef Id="CSharpProjectSharpDevelopCustomToolTemplates"/>
				<ComponentRef Id="AppConfigFileTemplate"/>
				
				<ComponentRef Id="ICSharpCodeScriptingDll"/>
				
				<ComponentRef Id="FSharpBindingDll"/>
				<ComponentRef Id="FSharpBindingAddin"/>	
				
				<ComponentRef Id="SharpDevelopSourceAnalysisTargets"/>
				<ComponentRef Id="SourceAnalysisAddin"/>
				<ComponentRef Id="SourceAnalysisDll"/>
			
				<ComponentRef Id="HexEditorAddin"/>
				<ComponentRef Id="HexEditorDll"/>
				
				<ComponentRef Id="AvalonEditAddInAddin"/>
				<ComponentRef Id="ICSharpCodeAvalonEditAddInDll"/>
				
				<ComponentRef Id="Hook32Dll"/>
				<ComponentRef Id="Hook64Dll"/>
				<ComponentRef Id="ICSharpCodeProfilerAddInAddin"/>
				<ComponentRef Id="ICSharpCodeProfilerAddInDll"/>
				<ComponentRef Id="ICSharpCodeProfilerControllerDll"/>
				<ComponentRef Id="ICSharpCodeProfilerControlsDll"/>
				<ComponentRef Id="SystemDataSQLiteDll"/>
				<ComponentRef Id="IQToolkitDll"/>
				
				<ComponentRef Id="CppBindingAddin"/>
				<ComponentRef Id="CppBindingDll"/>
				
				<ComponentRef Id="ICSharpCodeWpfDesignAddInDll"/>
				<ComponentRef Id="ICSharpCodeWpfDesignDesignerDll"/>
				<ComponentRef Id="ICSharpCodeWpfDesignDll"/>
				<ComponentRef Id="ICSharpCodeWpfDesignXamlDomDll"/>
				<ComponentRef Id="WpfDesignAddin"/>
				
				<ComponentRef Id="ICSharpCodeDataAddin"/>
				<ComponentRef Id="ICSharpCodeDataAddinDll"/>
				<ComponentRef Id="ICSharpCodeDataCoreDll"/>
				<ComponentRef Id="ICSharpCodeDataCoreUIDll"/>
				<ComponentRef Id="ICSharpCodeDataEDMDesignerCoreDll"/>
				<ComponentRef Id="ICSharpCodeDataEDMDesignerCoreUIDll"/>
				<ComponentRef Id="ICSharpCodeDataSQLServerDll"/>
				
				<ComponentRef Id="UDCSystemDataSQLiteDll"/>
				<ComponentRef Id="UsageDataCollectorAddin"/>
				<ComponentRef Id="UsageDataCollectorDll"/>
				
				<ComponentRef Id="SharpDevelopReportingEmptyReportFileTemplate"/>
				<ComponentRef Id="ICSharpCodeReportingAddin"/>
				<ComponentRef Id="ICSharpCodeReportingDll"/>
				<ComponentRef Id="IronyDll"/>
				<ComponentRef Id="PdfSharpDll"/>
				<ComponentRef Id="SdrXceedWpfToolkitDll"/>
			
				<ComponentRef Id="AboutNuGetCmdletsHelpTxt"/>
				<ComponentRef Id="NuGetConsoleTypesDll"/>
				<ComponentRef Id="NuGetCoreDll"/>
				<ComponentRef Id="NuGetExe"/>
				<ComponentRef Id="NuGetNuspecSchema"/>
				<ComponentRef Id="NuGetLicenseTxt"/>
				<ComponentRef Id="PackageFormatPs1Xml"/>
				<ComponentRef Id="PackageManagementAddin"/>
				<ComponentRef Id="PackageManagementCmdletsDll"/>
				<ComponentRef Id="PackageManagementCmdletsDllHelpXml"/>
				<ComponentRef Id="PackageManagementDll"/>
				<ComponentRef Id="SharpDevelopEnvDteDll"/>
				<ComponentRef Id="PackageManagementPowerShellDll"/>
				<!--<ComponentRef Id="PackageManagementICSharpCodeSharpDevelopDomDll"/>-->
				<ComponentRef Id="MicrosoftWebXmlTransformDll"/>
			
				<ComponentRef Id="MonoTextTemplatingDll"/>
				<ComponentRef Id="TextTemplatingAddin"/>
				<ComponentRef Id="TextTemplatingDll"/>
				<ComponentRef Id="CSharpTextTemplateFileTemplate"/>
				<ComponentRef Id="VBTextTemplateFileTemplate"/>
			
				<ComponentRef Id="MachineSpecificationsAddIn"/>
				<ComponentRef Id="MachineSpecificationsCommandLineDll"/>
				<ComponentRef Id="MachineSpecificationsDll"/>
				<ComponentRef Id="MachineSpecificationsLicenseTxt"/>
				<ComponentRef Id="ToolsMachineSpecificationsDll"/>
				<ComponentRef Id="MachineSpecificationsReportingDll"/>
				<ComponentRef Id="MachineSpecificationsSparkDll"/>
				<ComponentRef Id="Mspec_clr4Exe"/>
				<ComponentRef Id="Mspec_x86_clr4Exe"/>
				<ComponentRef Id="Mspec_x86Exe"/>
				<ComponentRef Id="MspecExe"/>
				
				<ComponentRef Id="AspNetMvcAddin"/>
				<ComponentRef Id="AspNetMvcDll"/>
				<ComponentRef Id="AspNetMvcMonoTextTemplatingDll"/>
				<ComponentRef Id="SystemWebRazorDll"/>
				<ComponentRef Id="AspNetMvcTextTemplatingDll"/>
				<ComponentRef Id="AspNetMvcCSharpControllerTemplate"/>
				<ComponentRef Id="AspNetMvcAspxCSharpCreateTemplate"/>
				<ComponentRef Id="AspNetMvcAspxCSharpDeleteTemplate"/>
				<ComponentRef Id="AspNetMvcAspxCSharpDetailsTemplate"/>
				<ComponentRef Id="AspNetMvcAspxCSharpEditTemplate"/>
				<ComponentRef Id="AspNetMvcAspxCSharpEmptyTemplate"/>
				<ComponentRef Id="AspNetMvcAspxCSharpListTemplate"/>
				<ComponentRef Id="AspNetMvcRazorCSharpCreateTemplate"/>
				<ComponentRef Id="AspNetMvcRazorCSharpDeleteTemplate"/>
				<ComponentRef Id="AspNetMvcRazorCSharpDetailsTemplate"/>
				<ComponentRef Id="AspNetMvcRazorCSharpEditTemplate"/>
				<ComponentRef Id="AspNetMvcRazorCSharpEmptyTemplate"/>
				<ComponentRef Id="AspNetMvcRazorCSharpListTemplate"/>
				<ComponentRef Id="AspNetMvcVisualBasicControllerTemplate"/>
				<ComponentRef Id="AspNetMvcAspxVisualBasicCreateTemplate"/>
				<ComponentRef Id="AspNetMvcAspxVisualBasicDeleteTemplate"/>
				<ComponentRef Id="AspNetMvcAspxVisualBasicDetailsTemplate"/>
				<ComponentRef Id="AspNetMvcAspxVisualBasicEditTemplate"/>
				<ComponentRef Id="AspNetMvcAspxVisualBasicEmptyTemplate"/>
				<ComponentRef Id="AspNetMvcAspxVisualBasicListTemplate"/>
				<ComponentRef Id="AspNetMvcRazorVisualBasicCreateTemplate"/>
				<ComponentRef Id="AspNetMvcRazorVisualBasicDeleteTemplate"/>
				<ComponentRef Id="AspNetMvcRazorVisualBasicDetailsTemplate"/>
				<ComponentRef Id="AspNetMvcRazorVisualBasicEditTemplate"/>
				<ComponentRef Id="AspNetMvcRazorVisualBasicEmptyTemplate"/>
				<ComponentRef Id="AspNetMvcRazorVisualBasicListTemplate"/>
				<ComponentRef Id="CSharpMvcRazorLayoutPageFileTemplate"/>
				<ComponentRef Id="CSharpMvcRazorPartialPageFileTemplate"/>
				<ComponentRef Id="CSharpMvcRazorViewPageFileTemplate"/>
				<ComponentRef Id="VBMvcRazorLayoutPageFileTemplate"/>
				<ComponentRef Id="VBMvcRazorPartialPageFileTemplate"/>
				<ComponentRef Id="VBMvcRazorViewPageFileTemplate"/>
				<ComponentRef Id="CSharpMvc3RazorProjectTemplate"/>
				<ComponentRef Id="CSharpMvc4RazorProjectTemplate"/>
				<ComponentRef Id="VBMvc3RazorProjectTemplate"/>
				<ComponentRef Id="VBMvc4RazorProjectTemplate"/>

				<ComponentRef Id="OpenCoverConsoleExe"/>
				<ComponentRef Id="OpenCoverConsoleExeConfig"/>
				<ComponentRef Id="OpenCoverFrameworkDll"/>
				<ComponentRef Id="OpenCoverGendarmeRulesMaintainabilityDll"/>
				<ComponentRef Id="OpenCoverGendarmeFrameworkDll"/>
				<ComponentRef Id="OpenCoverLog4netConfig"/>
				<ComponentRef Id="OpenCoverLog4netDll"/>
				<ComponentRef Id="OpenCoverMonoCecilDll"/>
				<ComponentRef Id="OpenCoverMonoCecilPdbDll"/>
				<ComponentRef Id="OpenCoverProfilerX86Dll"/>
				<ComponentRef Id="OpenCoverProfilerX64Dll"/>
				<ComponentRef Id="OpenCoverAutofacDll"/>
				<ComponentRef Id="OpenCoverAutofacConfigurationDll"/>
				<ComponentRef Id="OpenCoverExtensionsDll"/>
			
				<ComponentRef Id="TypeScriptBindingNewtonsoftJsonDll"/>
				<ComponentRef Id="NoesisJavascriptDll"/>
				<ComponentRef Id="TypeScriptBindingAddin"/>
				<ComponentRef Id="TypeScriptBindingDll"/>
				<ComponentRef Id="TypeScriptBindingCompileJs"/>
				<ComponentRef Id="TypeScriptBindingCompletionJs"/>
				<ComponentRef Id="TypeScriptBindingCompletionDetailsJs"/>
				<ComponentRef Id="TypeScriptBindingDefinitionJs"/>
				<ComponentRef Id="TypeScriptBindingDiagnosticsJs"/>
				<ComponentRef Id="TypeScriptBindingLibdTs"/>
				<ComponentRef Id="TypeScriptBindingMainJs"/>
				<ComponentRef Id="TypeScriptBindingNavigationJs"/>
				<ComponentRef Id="TypeScriptBindingReferencesJs"/>
				<ComponentRef Id="TypeScriptBindingSignatureJs"/>
				<ComponentRef Id="TypeScriptBindingTscJs"/>
				<ComponentRef Id="TypeScriptLicenseTxt"/>
				<ComponentRef Id="TypeScriptServicesJs"/>
				<ComponentRef Id="TypeScriptEmptyFileTemplate"/>
			</Feature>
			<Feature Id="SharpDevelopFileAssociations"
			         Level="2"
			         AllowAdvertise="no"
			         InstallDefault="local"
			         Title="File Associations"
			         Description="Registers file associations with SharpDevelop.">
				<!-- 
					We put a reference to a dummy component which contains no files
					so we can get rid of the Network install options from the drop
					down menu for this feature. Seems to be a bug in Windows Installer.
				-->
				<ComponentRef Id="DummyFileAssocationFeatureComponent"/>
				<Feature Id="BooProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="Boo Projects (.booproj)"
				         Description="Associates Boo projects (.booproj) with SharpDevelop">
					<ComponentRef Id="BooProjectFileAssociation"/>
				</Feature>
				<Feature Id="CSharpFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="C# Files (.cs)"
				         Description="Associates C# Files (.cs) with SharpDevelop">
					<ComponentRef Id="CSharpFileAssociation"/>
				</Feature>
				<Feature Id="CSharpProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="C# Projects (.csproj)"
				         Description="Associates C# Projects (.csproj) with SharpDevelop">
					<ComponentRef Id="SharpDevelopCSharpProjectFileAssociation"/>
				</Feature>
				<Feature Id="PythonProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="Python Project Files (.pyproj)"
				         Description="Associates Python Projects (.pyproj) with SharpDevelop">
					<ComponentRef Id="PythonProjectFileAssociation"/>
				</Feature>
				<Feature Id="ResxFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="Resource Files (.resx)"
				         Description="Associates Resource Files (.resx) with SharpDevelop">
					<ComponentRef Id="ResxFileAssociation"/>
				</Feature>
				<Feature Id="ResourcesFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="Binary Resource Files (.resources)"
				         Description="Associates Binary Resources files (.resources) with SharpDevelop">
					<ComponentRef Id="ResourcesFileAssociation"/>
				</Feature>
				<Feature Id="AddInFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="SharpDevelop AddIn Installation Packages (.sdaddin)"
				         Description="Associates SharpDevelop AddIn Installation packages (.sdaddin) with SharpDevelop">
					<ComponentRef Id="SharpDevelopAddInFileAssociation"/>
				</Feature>
				<Feature Id="SolutionFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="SharpDevelop Solutions (.sln)"
				         Description="Associates SharpDevelop Solutions (.sln) with SharpDevelop">
					<ComponentRef Id="SharpDevelopSolutionFileAssociation"/>
				</Feature>
				<Feature Id="VBFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="VB.NET Files (.vb)"
				         Description="Associates VB.NET Files (.vb) with SharpDevelop">
					<ComponentRef Id="VBFileAssociation"/>
				</Feature>
				<Feature Id="VBProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="VB.NET Projects (.vbproj)"
				         Description="Associates VB.NET Projects (.vbproj) with SharpDevelop">
					<ComponentRef Id="SharpDevelopVBProjectFileAssociation"/>
				</Feature>
				<Feature Id="WixProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="SharpDevelop WiX Projects (.wixproj)"
				         Description="Associates SharpDevelop WiX Projects (.wixproj) with SharpDevelop">
					<ComponentRef Id="SharpDevelopWixProjectFileAssociation"/>
				</Feature>
				<Feature Id="XmlFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="XML Files (.xml)"
				         Description="Associates XML Files (.xml) with SharpDevelop">
					<ComponentRef Id="XmlFileAssociation"/>
				</Feature>
			</Feature>
		</Feature>
		
		<!-- Using WixUI -->
		<Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
		<UI>
			<UIRef Id="WixUI_FeatureTree" />
			<Publish
				Dialog="ExitDialog"
				Control="Finish"
				Event="DoAction"
				Value="ShowReadme">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
		
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Learn about dependencies you should install" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
		
		<Property Id="WixShellExecTarget" Value="[#Dependencies.html]" />
		<CustomAction
			Id="ShowReadme"
			BinaryKey="WixCA"
			DllEntry="WixShellExec"
			Impersonate="yes" />
		
		<!--
			If a newer version of SharpDevelop is installed, show an error message.
	
			This message is not displayed immediately, the FindRelatedProducts 
			action occurs well into the installation after the user has
			configured everything.
		-->
		<CustomAction Id="NoDowngrade" Error="A later version of [ProductName] is already installed." />
		
		<!-- Add RemoveExistingProducts action to install sequence so upgrades can work -->
		<InstallExecuteSequence>
			<!--
				Display an error message if a newer version found.
				
				Since the installer completely removes the existing SharpDevelop installation,
				downgrades would work without any problems, but for now we 
				inform the user that a newer version already exists.
				-> Actually, there's trouble with downgrades because Windows Installer first determines
					the existing components before removing the old installation; so all versioned
					libraries will get removed instead of downgraded.
 			-->
			<Custom Action="NoDowngrade" After="FindRelatedProducts">NEWERVERSIONFOUND</Custom>
			<!--
				Removes the older version of SharpDevelop, if we are upgrading,
				before installing the new version.

				Unfortunately the user is not informed of this upgrade. I think
				we need a custom dialog showing the old installation located and
				the fact that it is going to be upgraded.

				The best place to do this is after InstallFinalize however if we
				do it then after we have removed a file from an addin, and changed
				the Component Guid, the modified component is not installed. So
				we make sure SharpDevelop is completely removed before installing
				the newer version. This also covers us if we accidentally
				modify a component but do not change its Guid.

				http://msdn.microsoft.com/library/en-us/msi/setup/removeexistingproducts_action.asp
			-->
			<RemoveExistingProducts Before="InstallInitialize"/>
		</InstallExecuteSequence>
	</Product>
</Wix>
