<!--
	Installer for SharpDevelop.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--
		Windows Installer only recognises 3 digits for the product version (Major.Minor.Build) 
		so the third digit must be the Subversion revision. 
	-->

	<Product Id="*" 
		Name="SharpDevelop 3.2"
		Manufacturer="ic#code"
		Language="1033"
		Codepage="1252"
		UpgradeCode="757486BE-1F27-4BED-9A3B-737906728F1C"
		Version="3.2.$(var.PRODUCTBUILDVERSION)">

		<Package Description="SharpDevelop 3.2.0.$(var.PRODUCTBUILDVERSION)"
			InstallerVersion="300"
			Compressed="yes"/>
		
		<!-- Upgrade information -->
		<Upgrade Id="757486BE-1F27-4BED-9A3B-737906728F1C">
			<!-- The UpgradeCode must be changed to allow two versions of SharpDevelop to be installed side-by-side -->
			
			<!-- Checks for 3.0 versions (too old for upgrade due to SD2-1565 - Microsoft.Scripting.dll removed by upgrade 3.0 -> 3.1) -->
			<UpgradeVersion OnlyDetect="yes"
				Property="OLDVERSIONFOUND"
				Maximum="3.1.0"
				IncludeMaximum="no"/>
			<!-- Checks for older versions -->
			<UpgradeVersion Minimum="3.1.0"
				IncludeMinimum="yes"
				Maximum="3.2.$(var.PRODUCTBUILDVERSION)"
				IncludeMaximum="no" 
				Property="PREVIOUSVERSIONFOUND"/>
			<!-- Checks for newer versions -->
			<UpgradeVersion OnlyDetect="yes"
				Property="NEWERVERSIONFOUND"
        		Minimum="3.2.$(var.PRODUCTBUILDVERSION)"
				IncludeMinimum="no"/>
		</Upgrade>
		
		<!--
			Conditions to be satisfied before the installer begins.
			Note that we are using "Installed OR" in the conditions so
			so they never block the user from repairing, patching, or 
			uninstalling the package after it has been installed. 

			For example the user could do something odd like uninstall .NET 3.0
 			and then run the msi to uninstall SharpDevelop. Without the 
			"Installed OR" this would not be allowed.
		-->
		<!--
			Check for .NET 3.5 SP1 
			http://msdn2.microsoft.com/en-us/library/aa480198.aspx#netfx30_topic14
		-->
		<PropertyRef Id="NETFRAMEWORK35_SP_LEVEL" />
		<Condition Message="This setup requires the .NET Framework 3.5 SP 1 to be installed.">
			Installed OR NETFRAMEWORK35_SP_LEVEL = "#1"
		</Condition>
		
		<!--
			Check for the operating system is at least Windows 2000 (VersionNT = 500). 
			http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/operating_system_property_values.asp		
		-->
		<Condition Message="The operating system you are using is not supported by SharpDevelop (95/98/ME/NT3.x/NT4.x).">
			Installed OR VersionNT &gt;= 500
		</Condition>
		
		<!--
			Check the user has elevated permissions. We need admin rights to NGen 
			SharpDevelop.exe and to register the Help collection. 

			At the moment we do not need admin rights since the installer only tries
			to NGen if we have admin rights. So as long
			as the user does not try to install it into Program Files then the
			install will finish successfully. 

			In order to get the NGen conditionally executed when the user has admin
			rights we had to use a custom version of Wix's NetFxExtension.wxs file
			where the custom actions conditions have been altered.

			The old Setup.exe displays a RunAs dialog only because when it is named 
			"Setup.exe". So do we display an error message or let the installation
			fail? The failure message is obscure so a message is before launching
			is probably better.
		-->
		<!-- Not used since the install will work without admin rights.
		<Condition Message="Administrator rights are required to install SharpDevelop.">
			Privileged
		</Condition> -->
		
		<!--
			Install for all users.

			Using ALLUSERS=2 means SharpDevelop can be installed by a non-admin. 
			In this case it will be a per-user installation installed into the 
			user's personal profile. 

			(The installer will be adding assemblies to the GAC and using NGen 
			on SharpDevelop.exe if and only if the user has admin rights)

			http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/allusers.asp
		-->
		<Property Id="ALLUSERS">2</Property>
		
		<!--
			Support entries shown when clicking "Click here for support information"
			in Control Panel's Add/Remove Programs

			http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/configuration_properties.asp
		-->
		<Property Id="ARPCONTACT">http://icsharpcode.net/OpenSource/SD/ContactUs.asp</Property>
		<Property Id="ARPHELPLINK">http://community.sharpdevelop.net/forums/</Property>
		<Property Id="ARPURLINFOABOUT">http://icsharpcode.net/OpenSource/SD/</Property>
		<Property Id="ARPURLUPDATEINFO">http://icsharpcode.net/OpenSource/SD/Download/</Property>
		
		<!-- Suppress the Modify button in the Control Panel's Add/Remove Programs -->
		<!--
			Temporarily disabled whilst using the WixUI library 
			<Property Id="ARPNOMODIFY">1</Property> 
		-->
		
		<!-- Puts SharpDevelop icon in Control Panel's Add/Remove Programs -->
		<Property Id="ARPPRODUCTICON">SharpDevelopIcon.exe</Property>
		<Icon Id="SharpDevelopIcon.exe" SourceFile="..\Main\StartUp\Project\Resources\SharpDevelop.ico"/>
		
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir"/>
		
		<!--
			Currently just one core feature to install everything. 
			Source code will become a separate feature. Perhaps all the add-ins too could
			each be a feature if the user wants to heavily customise the installation.
		-->
		<Feature Id="Complete"
		         Title="SharpDevelop 3.2"
		         Description="Installs SharpDevelop and registers file associations"
		         Level="1"
		         ConfigurableDirectory="INSTALLDIR"
		         Absent="disallow"
		         AllowAdvertise="no"
		         InstallDefault="local"
		         Display="expand">
				<!-- 
					We put a reference to a dummy component which contains no files
					so we can get rid of the Network install options from the drop
					down menu for this feature. Seems to be a bug in Windows Installer.
				-->
				<ComponentRef Id="DummyCompleteFeatureComponent"/>
			<!--
				The SharpDevelop application. This may at some point in the distant
				future be further subdivided into addin features, but doing this
				will mean a new ProductCode will need to be generated.
			-->
			<Feature Id="SharpDevelop"
			         Title="SharpDevelop"
			         Description="Installs SharpDevelop"
			         Level="1"
			         InstallDefault="local"
			         AllowAdvertise="no"
			         Absent="disallow">
				<ComponentRef Id="SharpDevelopExe"/>
				<ComponentRef Id="SharpDevelopExeFiles"/>
				<ComponentRef Id="SharpDevelopDocFiles"/>
				<ComponentRef Id="ICSharpCodeBuildTasksDll"/>
				<ComponentRef Id="BuildTasksTargetFiles"/>
				<ComponentRef Id="BuildWorkerFiles"/>
				<ComponentRef Id="ICSharpCodeCoreDll"/>
				<ComponentRef Id="ICSharpCodeCoreWinFormsDll"/>
				<ComponentRef Id="ICSharpCodeCorePresentationDll"/>
				<ComponentRef Id="ICSharpCodeNRefactoryDll"/>
				<ComponentRef Id="ICSharpCodeSharpDevelopDll"/>
				<ComponentRef Id="ICSharpCodeSharpDevelopDomdll"/>
				<ComponentRef Id="ICSharpCodeSharpDevelopWidgets"/>
				<ComponentRef Id="ICSharpCodeSharpDevelopSdaFiles"/>
				<ComponentRef Id="ICSharpCodeTextEditorDll"/>
				<ComponentRef Id="AgaControlsDll"/>
				<ComponentRef Id="log4netDll"/>
				<ComponentRef Id="MonoCecilDll"/>
				<ComponentRef Id="WeifenLuoWinFormsUIDockingDll"/>
				<ComponentRef Id="SharpDevelopTechNoteFiles"/>
				<ComponentRef Id="ComponentInspectorExe"/>
				<ComponentRef Id="ComponentInspectorCoreDll"/>
				<ComponentRef Id="ComponentInspectorICSharpCodeCoreDll"/>
				<ComponentRef Id="ComponentInspectorLog4NetDll"/>
				<ComponentRef Id="SharpDevelopProgramMenuItems"/>
				<ComponentRef Id="DesktopFolderItems"/>
				
				<ComponentRef Id="DariceCub"/>
				<ComponentRef Id="HeatExe"/>
				<ComponentRef Id="MeltExe"/>
				<ComponentRef Id="MergeModCub"/>
				<ComponentRef Id="MSPatchCDll"/>
				<ComponentRef Id="PyroExe"/>
				<ComponentRef Id="SmokeExe"/>
				<ComponentRef Id="TorchExe"/>
				<ComponentRef Id="WConsoleDll"/>
				<ComponentRef Id="WuiDll"/>
				<ComponentRef Id="WixDifxAppExtensionDll"/>
				<ComponentRef Id="WixIIsExtensionDll"/>
				<ComponentRef Id="WixIsolatedAppExtensionDll"/>
				<ComponentRef Id="WixOfficeExtensionDll"/>
				<ComponentRef Id="WixPSExtensionDll"/>
				<ComponentRef Id="WixSqlExtensionDll"/>
				<ComponentRef Id="WixUIExtensionDll"/>
				<ComponentRef Id="WixUtilExtensionDll"/>
				<ComponentRef Id="WixComPlusExtensionDll"/>
				<ComponentRef Id="WixMsmqExtensionDll"/>
				<ComponentRef Id="WixDirectXExtensionDll"/>
				<ComponentRef Id="WixFirewallExtensionDll"/>
				<ComponentRef Id="WixGamingExtensionDll"/>
				<ComponentRef Id="WixComPlusSchema"/>
				<ComponentRef Id="WixDIfxAppSchema"/>
				<ComponentRef Id="WixIisSchema"/>
				<ComponentRef Id="WixMSMQSchema"/>
				<ComponentRef Id="WixNetFxSchema"/>
				<ComponentRef Id="WixPSSchema"/>
				<ComponentRef Id="WixSqlSchema"/>
				<ComponentRef Id="WixUtilSchema"/>
				<ComponentRef Id="WixVSSchema"/>
				<ComponentRef Id="WixFirewallSchema"/>
				<ComponentRef Id="WixGamingSchema"/>
				<ComponentRef Id="WixLicenseFiles"/>
				<ComponentRef Id="WixBitmapFiles"/>
				<ComponentRef Id="WixVSExtension"/>
				<ComponentRef Id="Difxapp_x64Wixlib"/>
				<ComponentRef Id="Difxapp_x86Wixlib"/>
				<ComponentRef Id="EmptyWixFileTemplate"/>				
				<ComponentRef Id="WixDefaultLicenseRtf"/>				
				<ComponentRef Id="EmptyWixProjectTemplate"/>				
				<ComponentRef Id="EmptyWixDialogTemplate"/>				
				<ComponentRef Id="WixDialogTemplate"/>				

				<ComponentRef Id="CandleExe"/>
				<ComponentRef Id="DarkExe"/>
				<ComponentRef Id="LightExe"/>
				<ComponentRef Id="LitExe"/>
				<ComponentRef Id="MergeModDll"/>
				<ComponentRef Id="MicrosoftToolsWindowsInstallerXmlNAntTasksDll"/>
				<ComponentRef Id="WInteropDll"/>
				<ComponentRef Id="WixDll"/>
				<ComponentRef Id="WixCopExe"/>
				<ComponentRef Id="WixNetFxExtensionDll"/>
				<ComponentRef Id="WixTasksDll"/>

				<ComponentRef Id="NUnitUtilDll"/>
				<ComponentRef Id="NUnitConsoleFiles"/>
				<ComponentRef Id="NUnitConsoleX86Files"/>
				<ComponentRef Id="NUnitCoreDll"/>
				<ComponentRef Id="NUnitFrameworkDll"/>
				<ComponentRef Id="NUnitConsoleRunnerDll"/>
				<ComponentRef Id="NUnitCoreInterfacesDll"/>
				<ComponentRef Id="ConversionStyleSheetFiles"/>
				<ComponentRef Id="TextLibOptionsFiles"/>
				<ComponentRef Id="OptionsFiles"/>
				<ComponentRef Id="CssFiles"/>
				<ComponentRef Id="InstallerBitmapFiles"/>
				<ComponentRef Id="LanguageBitmapFiles"/>
				<ComponentRef Id="LayoutFiles"/>
				<ComponentRef Id="StartPageLayoutBlueFiles"/>
				<ComponentRef Id="StartPageLayoutBrownFiles"/>
				<ComponentRef Id="StartPageLayoutCommonFiles"/>
				<ComponentRef Id="StartPageLayoutGreenFiles"/>
				<ComponentRef Id="StartPageLayoutOrangeFiles"/>
				<ComponentRef Id="StartPageLayoutRedFiles"/>
				<ComponentRef Id="StartPageLayoutFiles"/>
				<ComponentRef Id="StringResourceFiles"/>
				<ComponentRef Id="SchemaFiles"/>
				<ComponentRef Id="CSharpFileTemplates"/>
				<ComponentRef Id="CSharpRecentFilesCollectionTemplate"/>				
				<ComponentRef Id="CSharpRecentFilesCollectionTemplateRecentFileElementClass"/>				
				<ComponentRef Id="CSharpRecentFilesCollectionTemplateRecentFilesCollectionClass"/>				
				<ComponentRef Id="VBNetFileTemplates"/>
				<ComponentRef Id="EmptyHTMLFileTemplate"/>
				<ComponentRef Id="EmptyMsBuildFileTemplate"/>
				<ComponentRef Id="EmptyResourceFileTemplate"/>
				<ComponentRef Id="EmptyTextFileTemplate"/>
				<ComponentRef Id="EmptyXMLFileTemplate"/>
				<ComponentRef Id="SharpDevelopFileTemplates"/>
				<ComponentRef Id="CSharpProjectTemplates"/>
				<ComponentRef Id="CSharpWebServiceProjectTemplate"/>
				<ComponentRef Id="CSharpNotifyIconProjectTemplate"/>
				<ComponentRef Id="CSharpStructTemplate"/>
				<ComponentRef Id="CSharpConfigurationFileTemplates"/>
				<ComponentRef Id="MiscProjectTemplates"/>
				<ComponentRef Id="VBNetProjectTemplates"/>
				<ComponentRef Id="ExampleProjectTemplate"/>
				<ComponentRef Id="ICSharpCode.SharpDevelop.addin"/>
				<ComponentRef Id="BooBindingAddin"/>
				<ComponentRef Id="BooBindingDll"/>
				<ComponentRef Id="BoocExe"/>
				<ComponentRef Id="BoocExeConfig"/>
				<ComponentRef Id="BoocRsp"/>
				<ComponentRef Id="BooEmptyClassTemplate"/>
				<ComponentRef Id="BooEmptyFileTemplate"/>
				<ComponentRef Id="BooFormsProjectTemplate"/>
				<ComponentRef Id="BooFormTemplate"/>
				<ComponentRef Id="BooLangCodeDomDll"/>
				<ComponentRef Id="BooLangCompilerDll"/>
				<ComponentRef Id="BooLangDll"/>
				<ComponentRef Id="BooLangExtensionsDll"/>
				<ComponentRef Id="BooLangPatternMatchingDll"/>
				<ComponentRef Id="BooLangInterpreterDll"/>
				<ComponentRef Id="BooLangParserDll"/>
				<ComponentRef Id="BooLangUsefulDll"/>
				<ComponentRef Id="BooLibraryProjectTemplate"/>
				<ComponentRef Id="BooMicrosoftBuildTargets"/>
				<ComponentRef Id="BooMicrosoftBuildTasksDll"/>
				<ComponentRef Id="NRefactoryToBooConverterDll"/>
				<ComponentRef Id="BooConsoleProjectTemplate"/>
				<ComponentRef Id="DefaultAssemblyInfoBooTemplate"/>
				<ComponentRef Id="CSharpBindingFiles"/>
				<ComponentRef Id="ILAsmTemplates"/>
				<ComponentRef Id="ILAsmBindingFiles"/>
				<ComponentRef Id="VBNetBindingFiles"/>
				<ComponentRef Id="WixBindingFiles"/>
				<ComponentRef Id="WixUIMondoProjectTemplate"/>
				<ComponentRef Id="WixUIMinimalProjectTemplate"/>
				<ComponentRef Id="WixUIInstallDirProjectTemplate"/>
				<ComponentRef Id="WixUIFeatureTreeProjectTemplate"/>
				<ComponentRef Id="FormsDesignerFiles"/>
				<ComponentRef Id="IconEditorAddInFiles"/>
				<ComponentRef Id="IconEditorExe"/>
				<ComponentRef Id="ResourceEditorFiles"/>
				<ComponentRef Id="ClassDiagramResources"/>
				<ComponentRef Id="ClassDiagramAddInFiles"/>
				<ComponentRef Id="ClassCanvasDll"/>
				<ComponentRef Id="DiagramsDll"/>
				<ComponentRef Id="XamlBindingFiles"/>
				
				<ComponentRef Id="XmlEditorFiles"/>
				<ComponentRef Id="AddInManagerFiles"/>
				<ComponentRef Id="AddInManagerSharpZipLibDll"/>
				<ComponentRef Id="AddInScoutFiles"/>
				<ComponentRef Id="CodeAnalysisFiles"/>
				<ComponentRef Id="CodeCoverageFiles"/>
				<ComponentRef Id="ComponentInspectorAddInDll"/>
				<ComponentRef Id="ComponentInspectorAddInCoreDll"/>
				<ComponentRef Id="DebuggerAddInFiles"/>
				<ComponentRef Id="FiletypeIcons"/>
				<ComponentRef Id="FiletypeRegistererFiles"/>
				<ComponentRef Id="HighlightingEditorFiles"/>
				<ComponentRef Id="HtmlHelp2Files"/>
				<ComponentRef Id="PInvokeAddInFiles"/>
				<ComponentRef Id="RegExToolkitFiles"/>
				<ComponentRef Id="ResourceToolkitFiles"/>
				<ComponentRef Id="SearchAndReplaceFiles"/>

				<ComponentRef Id="StartPageAddInFiles"/>
				<ComponentRef Id="SubversionAddInDll"/>
				<ComponentRef Id="UnitTestingAddInFiles"/>
				<ComponentRef Id="SyntaxModesFiles"/>
				<ComponentRef Id="SharpDevelopWebsiteShortcut"/>
				<ComponentRef Id="SharpDevelopAppPathRegistrySetting"/>
				<ComponentRef Id="WPFAssemblyInfoTemplate"/>
				<ComponentRef Id="AddInWritingHelp"/>
				<ComponentRef Id="CSharpProjectSharpDevelopCustomToolTemplates"/>
				<ComponentRef Id="StringResources.pt.resources"/>
				<ComponentRef Id="VBNetProjectCompactFormsProjectTemplate"/>
				<ComponentRef Id="StringResources.cngb.resources"/>
				<ComponentRef Id="AddInWritingHelpWebsiteShortcut"/>
				<ComponentRef Id="AppConfigFileTemplate"/>
				<ComponentRef Id="InteropPartCoverDll"/>
				<ComponentRef Id="PartCoverConsoleManualRtf"/>
				<ComponentRef Id="PartCoverCorDriverDll"/>
				<ComponentRef Id="PartCoverExe"/>
				<ComponentRef Id="PartCoverExeConfig"/>
				<ComponentRef Id="PartCoverFrameworkDll"/>
				<ComponentRef Id="PartCoverToNCoverXslt"/>
				
				<ComponentRef Id="PythonConsoleProjectTemplate"/>	
				<ComponentRef Id="PythonEmptyClassTemplate"/>	
				<ComponentRef Id="PythonEmptyFormTemplate"/>	
				<ComponentRef Id="PythonEmptyUserControlTemplate"/>	
				<ComponentRef Id="PythonEmptyFileTemplate"/>	
				<ComponentRef Id="PythonFormsProjectTemplate"/>	
				<ComponentRef Id="PythonLibraryProjectTemplate"/>	
				<ComponentRef Id="IpyExe"/>	
				<ComponentRef Id="IronPythonModulesDll"/>	
				<ComponentRef Id="IronPythonModulesXml"/>	
				<ComponentRef Id="IronPythonDll"/>	
				<ComponentRef Id="IronPythonXml"/>	
				<ComponentRef Id="MicrosoftDynamicDll"/>
				<ComponentRef Id="MicrosoftScriptingDll"/>	
				<ComponentRef Id="MicrosoftScriptingCoreDll"/>	
				<ComponentRef Id="MicrosoftScriptingDebuggingDll"/>	
				<ComponentRef Id="MicrosoftScriptingExtensionAttributeDll"/>				
				<ComponentRef Id="PythonBuildTasksDll"/>	
				<ComponentRef Id="PythonBindingAddin"/>	
				<ComponentRef Id="PythonBindingDll"/>
				<ComponentRef Id="PythonBindingLibRunpyPy"/>
				<ComponentRef Id="PythonBindingLibSitePy"/>
				<ComponentRef Id="PythonBindingLibFuturePy"/>
				<ComponentRef Id="SharpDevelopBuildPythonTargets"/>		
				
				<ComponentRef Id="IrExe"/>
				<ComponentRef Id="IrExeConfig"/>
				<ComponentRef Id="IronRubyDll"/>
				<ComponentRef Id="IronRubyLibrariesDll"/>
				<ComponentRef Id="IronRubyLibrariesYamlDll"/>
				<ComponentRef Id="RubyBindingAddin"/>
				<ComponentRef Id="RubyBindingDll"/>
				<ComponentRef Id="RubyMicrosoftDynamicDll"/>
				<ComponentRef Id="RubyMicrosoftScriptingDll"/>
				<ComponentRef Id="RubyMicrosoftScriptingCoreDll"/>
				<ComponentRef Id="RubyMicrosoftScriptingDebuggingDll"/>
				<ComponentRef Id="RubyMicrosoftScriptingExtensionAttributeDll"/>
				<ComponentRef Id="RubyEmptyClassFileTemplate"/>
				<ComponentRef Id="RubyConsoleProjectTemplate"/>
				<ComponentRef Id="RubyEmptyFormFileTemplate"/>
				<ComponentRef Id="RubyEmptyFileTemplate"/>
				<ComponentRef Id="RubyEmptyUserControlFileTemplate"/>
				<ComponentRef Id="RubyFormsProjectTemplate"/>
				<ComponentRef Id="RubyLibraryProjectTemplate"/>
				
				<ComponentRef Id="FSharpBindingDll"/>
				<ComponentRef Id="FSharpBindingAddin"/>	
				<ComponentRef Id="FSharpConsoleProjectTemplate"/>	
				<ComponentRef Id="FSharpEmptyClassTemplate"/>	
				
				<ComponentRef Id="ReflectorAddInDll"/>
			
				<ComponentRef Id="SharpDevelopSourceAnalysisTargets"/>
				<ComponentRef Id="SourceAnalysisAddin"/>
				<ComponentRef Id="SourceAnalysisDll"/>
				<ComponentRef Id="SharpRefactoringAddin"/>
				<ComponentRef Id="SharpRefactoringDll"/>
			
				<ComponentRef Id="HexEditorAddin"/>
				<ComponentRef Id="HexEditorDll"/>
				
				<ComponentRef Id="Hook32Dll"/>
				<ComponentRef Id="Hook64Dll"/>
				<ComponentRef Id="ICSharpCodeProfilerAddInAddin"/>
				<ComponentRef Id="ICSharpCodeProfilerAddInDll"/>
				<ComponentRef Id="ICSharpCodeProfilerControllerDll"/>
				<ComponentRef Id="ICSharpCodeProfilerControlsDll"/>
				<ComponentRef Id="SystemDataSQLiteDll"/>
				
				<ComponentRef Id="SharpDevelopReportsEmptyReportFileTemplate"/>
				<ComponentRef Id="ICSharpCodeReportDesignerAddin"/>
				<ComponentRef Id="ICSharpCodeReportsAddinDll"/>
				<ComponentRef Id="ICSharpCodeReportsCoreDll"/>
				<ComponentRef Id="InteropMsdascDll"/>
				<ComponentRef Id="InteropAdodbDll"/>
				<ComponentRef Id="IronyDll"/>
				<ComponentRef Id="ITextSharpDll"/>
			</Feature>
			<Feature Id="SharpDevelopFileAssociations"
			         Level="2"
			         AllowAdvertise="no"
				     InstallDefault="local"
			         Title="File Associations"
			         Description="Registers file associations with SharpDevelop.">
				<!-- 
					We put a reference to a dummy component which contains no files
					so we can get rid of the Network install options from the drop
					down menu for this feature. Seems to be a bug in Windows Installer.
				-->
				<ComponentRef Id="DummyFileAssocationFeatureComponent"/>
				<Feature Id="BooProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="Boo Projects (.booproj)"
				         Description="Associates Boo projects (.booproj) with SharpDevelop">
					<ComponentRef Id="BooProjectFileAssociation"/>
				</Feature>
				<Feature Id="CombineFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="SharpDevelop 1.x Combines (.cmbx)"
				         Description="Associates SharpDevelop 1.x Combines (.cmbx) with SharpDevelop">
					<ComponentRef Id="SharpDevelopCombineFileAssociation"/>
				</Feature>
				<Feature Id="CSharpFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="C# Files (.cs)"
				         Description="Associates C# Files (.cs) with SharpDevelop">
					<ComponentRef Id="CSharpFileAssociation"/>
				</Feature>
				<Feature Id="CSharpProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="C# Projects (.csproj)"
				         Description="Associates C# Projects (.csproj) with SharpDevelop">
					<ComponentRef Id="SharpDevelopCSharpProjectFileAssociation"/>
				</Feature>
				<Feature Id="PythonProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="Python Project Files (.pyproj)"
				         Description="Associates Python Projects (.pyproj) with SharpDevelop">
					<ComponentRef Id="PythonProjectFileAssociation"/>
				</Feature>
				<Feature Id="SD11ProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="SharpDevelop 1.x Projects (.prjx)"
				         Description="Associates SharpDevelop 1.x Projects (.prjx) with SharpDevelop">
					<ComponentRef Id="SharpDevelop11ProjectFileAssociation"/>
				</Feature>
				<Feature Id="ResxFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="Resource Files (.resx)"
				         Description="Associates Resource Files (.resx) with SharpDevelop">
					<ComponentRef Id="ResxFileAssociation"/>
				</Feature>
				<Feature Id="ResourcesFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="Binary Resource Files (.resources)"
				         Description="Associates Binary Resources files (.resources) with SharpDevelop">
					<ComponentRef Id="ResourcesFileAssociation"/>
				</Feature>
				<Feature Id="AddInFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="SharpDevelop AddIn Installation Packages (.sdaddin)"
				         Description="Associates SharpDevelop AddIn Installation packages (.sdaddin) with SharpDevelop">
					<ComponentRef Id="SharpDevelopAddInFileAssociation"/>
				</Feature>
				<Feature Id="SolutionFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="SharpDevelop Solutions (.sln)"
				         Description="Associates SharpDevelop Solutions (.sln) with SharpDevelop">
					<ComponentRef Id="SharpDevelopSolutionFileAssociation"/>
				</Feature>
				<Feature Id="VBFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="VB.NET Files (.vb)"
				         Description="Associates VB.NET Files (.vb) with SharpDevelop">
					<ComponentRef Id="VBFileAssociation"/>
				</Feature>
				<Feature Id="VBProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="VB.NET Projects (.vbproj)"
				         Description="Associates VB.NET Projects (.vbproj) with SharpDevelop">
					<ComponentRef Id="SharpDevelopVBProjectFileAssociation"/>
				</Feature>
				<Feature Id="WixProjectFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="SharpDevelop WiX Projects (.wixproj)"
				         Description="Associates SharpDevelop WiX Projects (.wixproj) with SharpDevelop">
					<ComponentRef Id="SharpDevelopWixProjectFileAssociation"/>
				</Feature>
				<Feature Id="XmlFormFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="SharpDevelop XML Forms (.xfrm)"
				         Description="Associates SharpDevelop XML Forms (.xfrm) with SharpDevelop">
					<ComponentRef Id="SharpDevelopXmlFormFileAssociation"/>
				</Feature>
				<Feature Id="XmlFileAssociation"
				         Level="2"
				         AllowAdvertise="no"
				         InstallDefault="local"
				         Title="XML Files (.xml)"
				         Description="Associates XML Files (.xml) with SharpDevelop">
					<ComponentRef Id="XmlFileAssociation"/>
				</Feature>
			</Feature>
		</Feature>
		
		<!-- Using WixUI temporarily -->
		<Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
		<UIRef Id="WixUI_FeatureTree"/>
		
		<!--
			If a newer version of SharpDevelop 3.2 is installed show an
			error message.
	
			This message is not displayed immediately, the FindRelatedProducts 
			action occurs well into the installation after the user has
			configured everything.
		-->
		<CustomAction Id="NoDowngrade" Error="A later version of [ProductName] is already installed." />
		<CustomAction Id="UpgradeNotPossible" Error="This setup cannot upgrade existing SharpDevelop 3.0 installations, please uninstall SharpDevelop 3.0." />
		
		<!-- Add RemoveExistingProducts action to install sequence so upgrades can work -->
		<InstallExecuteSequence>
			<!--
				Display an error message if a newer version found.
				
				Since the installer completely removes the existing SharpDevelop 3.2
				downgrades would work without any problems, but for now we 
				inform the user that a newer version already exists.
 			-->
			<Custom Action="NoDowngrade" After="FindRelatedProducts">NEWERVERSIONFOUND</Custom>
			<Custom Action="UpgradeNotPossible" After="FindRelatedProducts">OLDVERSIONFOUND</Custom>
			<!--
				Removes the older version of SharpDevelop 3.2, if we are upgrading,
				before installing the new version.

				Unfortunately the user is not informed of this upgrade. I think
				we need a custom dialog showing the old installation located and
				the fact that it is going to be upgraded.

				The best place to do this is after InstallFinalize however if we
				do it then after we have removed a file from an addin, and changed
				the Component Guid, the modified component is not installed. So
				we make sure SharpDevelop is completely removed before installing
				the newer version. This also covers us if we accidentally
				modify a component but do not change its Guid.

				http://msdn.microsoft.com/library/en-us/msi/setup/removeexistingproducts_action.asp
			-->
			<RemoveExistingProducts Before="InstallInitialize"/>
		</InstallExecuteSequence>
	</Product>
</Wix>
