<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<client>			 
				<wellknown  
					url="http://localhost:8686/ChatServer.rem" 
					type="CustomSinks.ChatServer, TestCommonTypes"
				/>
			</client>
			<channels>
				<channel ref="http" port="0">
					<clientProviders>
						<provider type="CustomSinks.PrivateEventHandlersClientChannelSinkProvider, PrivateEventHandlersSink"
						          customSinkType="CustomSinks.PrivateEventHandlersClientChannelSink, PrivateEventHandlersSink" />
						<provider type="CustomSinks.InvokeOnSTAClientChannelSinkProvider, InvokeOnSTASink"
						          customSinkType="CustomSinks.InvokeOnSTAClientChannelSink, InvokeOnSTASink" />
						<formatter ref="soap" typeFilterLevel="Full"/>
					</clientProviders>
					<serverProviders>
						<formatter ref="soap" typeFilterLevel="Full"/>
						<provider type="CustomSinks.InvokeOnSTAServerChannelSinkProvider, InvokeOnSTASink"
						          customSinkType="CustomSinks.InvokeOnSTAServerChannelSink, InvokeOnSTASink" />
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>