<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<client>			 
				<wellknown  
					url="http://localhost:8686/Debugger" 
					type="DebuggerLibrary.NDebugger, Debugger.Core"
				/>
			</client>
			<channels>
				<channel ref="http" port="0">
					<clientProviders>
						<provider type="CustomSinks.PrivateEventHandlersClientChannelSinkProvider, Debugger.Core"
						          customSinkType="CustomSinks.PrivateEventHandlersClientChannelSink, Debugger.Core" />
						<provider type="CustomSinks.InvokeOnSTAClientChannelSinkProvider, Debugger.Core"
						          customSinkType="CustomSinks.InvokeOnSTAClientChannelSink, Debugger.Core" />
						<formatter ref="soap" typeFilterLevel="Full"/>
					</clientProviders>
					<serverProviders>
						<formatter ref="soap" typeFilterLevel="Full"/>
						<!--
						<provider type="CustomSinks.InvokeOnSTAServerChannelSinkProvider, Debugger.Core"
						          customSinkType="CustomSinks.InvokeOnSTAServerChannelSink, Debugger.Core" />
						-->
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>