<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown 
				   mode="Singleton" 
				   type="Debugger.NDebugger, Debugger.Core"
				   objectUri="Debugger"
				/>
			</service>
			<channels>
				<channel ref="tcp" port="8686">
					<clientProviders>
						<!--
						<provider type="CustomSinks.PrivateEventHandlersClientChannelSinkProvider, Debugger.Core"
						          customSinkType="CustomSinks.PrivateEventHandlersClientChannelSink, Debugger.Core" />
						-->
						<formatter ref="binary" typeFilterLevel="Full"/>
					</clientProviders>
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
