<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
	<appSettings/>
	
  <startup>
	  <supportedRuntime version="v2.0.50727" />
  </startup>

   <!--
    The following <runtime> section allows running nunit under 
    .NET 1.0 by redirecting assemblies. The appliesTo attribute
    causes the section to be ignored except under .NET 1.0
    on a machine with only the .NET version 1.0 runtime installed.
    If application and its tests were built for .NET 1.1 you will
    also need to redirect system assemblies in the test config file
    just as we do for nunit.tests.dll.
   -->
  
   <runtime/>

</configuration>
